.header {
    background-color: #1f2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.dark-text {
    font-size: 18px;
    color: #f9faf8;
}

ul {
    display: flex;
    margin-left: 0;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration-line: none;
    font-size: 18px;
    color: #f9faf8;
}

.dark-main-text {
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
}

.top {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.top-left {
    display: flex;
    flex-direction: column;
}

button {
    border-radius: 8px;
    background-color: #3882f6;
    color:white;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.infos {
    display:flex;
    justify-content: center;
    gap: 32px;
}

.infos img {
    width: 200px;
    height: auto;
}

.infos p {
    text-align: center;
    width: 200px;
}

.bottom {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom p {
    font-size: 32px;
    font-style: italic;
    color: #1f2937;
}

.bottom div {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.call-to-action {
    background-color: #3882f6;
    display: flex;
    align-items: center;
}

.cta-left {
    flex: 1;
}

.footer {
    background-color:#1f2937;
    color:#e5e7eb;
    text-align:center;
    padding: 16px;
}